<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Usar el título de la portada de una página si tiene uno -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <%= yield %>
    <footer>
      <%= _('Website under the GPL 3.0 license.') %>
      &mdash;
      <a href="https://github.com/Plume-org/joinplu.me"><%= _('Source code of this website') %></a>
    </footer>
    <script>feather.replace()</script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
