<nav>
  <ul>
    <li>
       <a href="https://contribute.joinplu.me/"><%= _('Contribute') %></a>
    </li>
    <li>
       <a href="https://docs.joinplu.me/"><%= _('Documentation') %></a>
    </li>
    <li>
       <a href="https://github.com/Plume-org/Plume"><%= _('Source code') %></a>
    </li>
    <li>
       <a href="https://riot.im/app/#/room/#plume:disroot.org"><%= _('Chat room') %></a>
    </li>
    <li>
       <a href="https://framavox.org/g/WK40YHMA/plume"><%= _('Loomio group') %></a>
    </li>
  </ul>
</nav>
